html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Simonetta', sans-serif;
    line-height: 1.5;
    background: rgb(165, 157, 157);
    color: #323232;
  }

  
  .icon {
    fill: currentColor;
    display: inline-block;
    font-size: inherit;
    height: 1.5em;
    overflow: visible;
  }
  

  a {
    color: #323232;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .container, main {
    max-width: 980px;
    margin: 0px auto;
    padding: 32px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .container
  {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 150px;

  }

  .Dropdown
  {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
  }

  .Dropdown > li 
  {
    display: inline-block;
    padding-top: 50px;
  }

  /*HEADER SECTION*/

  header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    padding: 0px 0;
    /* border-bottom: 1px solid lightgrey; */
  }
.Dropdown a + ul
{
overflow: hidden;
height: 0;
position:absolute;
}
.Dropdown li:hover a + ul
/* .Dropdown a:active + ul, 
.Dropdown a:focus + ul */
{
height: auto;
}


  
  
  
  /***********************************
  * =Main Info
  ***********************************/
  
.avatar {
    width: 500px;
    max-width: 100%;
  }
  
  .my-name {
    font-size: 48px;
    line-height: 1;
  }
  
  .my-title {
    font-size: 24px;
    font-weight: 300;
    color: #236FB2;
  }
  
  .links {
    display: flex;
    margin: 10px 0 20px 0;
  }
  
  .link-item {
    align-items: center;
    flex: 1;
  }
  
  .link-item svg {
    margin-right: 6px;
  }
  
 

  ul{
    font-size: large;
    margin-left: 20px;
    /* list-style-type: disc; */
  }

/* Profile */
.Page-Title {
  font-size: 48px;
  line-height: 1;
}

main {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
}

p{
  padding-top: 40px;
}

 

  
  @media only screen and (max-width : 768px) 
  {
    main, .container
    {
      grid-template-columns: 100%;
    }

  
  }